<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EQ2MapTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EQ2MapTools.Properties.Settings>
            <setting name="Help" serializeAs="String">
                <value>{\rtf1\ansi\ansicpg1252\deff0\nouicompat\deflang1033{\fonttbl{\f0\fnil\fcharset0 Calibri;}{\f1\fnil\fcharset2 Symbol;}}
{\colortbl ;\red0\green0\blue255;}
{\*\generator Riched20 10.0.19041}\viewkind4\uc1 
\pard\sl240\slmult1\f0\fs22\lang9 This utility is intended to streamline the process of creating maps for the EQ2MAP add-on for the EverQuest 2 game.\par
\par
This program is an update to:\par

\pard{\pntext\f1\'B7\tab}{\*\pn\pnlvlblt\pnf1\pnindent0{\pntxtb\'B7}}\fi-360\li720\sl240\slmult1 Rex 'SaintPeter' Schrader's mapper2 and log_cleaner Perl scripts\par
{\pntext\f1\'B7\tab}Tacoman's ZoneRect Calculator.\par

\pard\sl240\slmult1\par
The original tools are described here: {{\field{\*\fldinst{HYPERLINK https://maps.eq2interface.com/index.php?action=maptutorial&amp;page=2 }}{\fldrslt{https://maps.eq2interface.com/index.php?action=maptutorial&amp;page=2\ul0\cf0}}}}\f0\fs22\par
\par
This project's home page with additional notes and help is here: {{\field{\*\fldinst{HYPERLINK https://github.com/jeffjl74/Eq2MapTools#EQ2Map-Tools }}{\fldrslt{https://github.com/jeffjl74/Eq2MapTools#EQ2Map-Tools\ul0\cf0}}}}\f0\fs22\par
\par
}
 </value>
            </setting>
            <setting name="WindowLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseMapName" serializeAs="String">
                <value />
            </setting>
            <setting name="MapLevel" serializeAs="String">
                <value />
            </setting>
            <setting name="Elevations" serializeAs="String">
                <value />
            </setting>
            <setting name="SvgViewer1" serializeAs="String">
                <value />
            </setting>
            <setting name="SvgViewer2" serializeAs="String">
                <value />
            </setting>
            <setting name="MapStyleFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLoadStyles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeparateFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Notes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
        </EQ2MapTools.Properties.Settings>
    </userSettings>
</configuration>